{% extends "index.html" %}

{% block title %}Afiliados - Manus Marketing{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fas fa-handshake"></i> Afiliados</h1>
    </div>
    
    
<div class="card">
    <div class="card-body">
        <h5>Programa de Afiliados</h5>
        <p>Ganhe comissões indicando</p>
    </div>
</div>

</div>
{% endblock %}
